.head{
  background: #fff;
  width: 100%;
  display: inline-block;
  padding: 12px 15px;
  position: relative;
  border-bottom: 1px #e4e7f2 solid;
  font-size: 18px;
}
.role-container{
  background: white;
  margin: 20px auto;
  padding: 25px 40px;
  border: 1px #e4e7f2 solid;
  border-radius: 4px;
  .form-check-input:checked {
    background-color: #51d196;
    border-color: #51d196;
  }
  form{
    > .row{
      padding: 15px 0;
      &:nth-child(even){
        background: #fafafa;
      }
    }
    .text-end{
      margin-top: 50px;
    }
  }
}
.btn-primary{
  width: 120px;
}
