<div class="saved-specs">
  <p-tabView class="tab-view-mobile">

    <p-tabPanel header="General">
      <div class="tab-container">
        <div class="form-group row">
          <div class="col-md-3"><label>ID</label></div>
          <div class="col-md-7">
            <label>{{treeViewService.itemList?.id}}</label>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-3"><label class="mt-6">Priority</label></div>
          <div class="col-md-7">
            <p-dropdown [options]="states" [(ngModel)]="selectedState" placeholder="ComboBox" optionLabel="name"></p-dropdown>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-3"><label class="mt-6">State</label></div>
          <div class="col-md-7">
            <p-dropdown [options]="states" [(ngModel)]="selectedState" placeholder="ComboBox" optionLabel="name"></p-dropdown>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-3"><label class="mt-6">Type</label></div>
          <div class="col-md-7">
            <p-dropdown [options]="states" [(ngModel)]="selectedState" placeholder="ComboBox" optionLabel="name"></p-dropdown>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-3"><label class="mt-6">Area</label></div>
          <div class="col-md-7">
            <p-dropdown [options]="states" [(ngModel)]="selectedState" placeholder="ComboBox" optionLabel="name"></p-dropdown>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-3"><label class="mt-6">Iteration</label></div>
          <div class="col-md-7">
            <p-dropdown [options]="states" [(ngModel)]="selectedState" placeholder="ComboBox" optionLabel="name"></p-dropdown>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-3"><label class="mt-6">Assigned to</label></div>
          <div class="col-md-7">
            <p-dropdown [options]="states" [(ngModel)]="selectedState" placeholder="ComboBox" optionLabel="name"></p-dropdown>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-12"><label class="mt-6">Description</label></div>
          <div class="col-md-12">
            <textarea name="desc" class="form-control" id="desc" rows="5"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <button type="button" class="btn btn-outline-primary">Save</button>
            <button type="button" class="btn btn-outline-primary" (click)="treeViewService.saveSpecsClose()">Cancel</button>
          </div>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="System Impacts">
      <div class="tab-container">
        <div class="form-group row">
          <div class="col-md-12">
            <label class="mt-6">System Impacts: <br>
              <small>(Tell us what system will be impacted by this requirement)</small>
            </label>
          </div>
          <div class="col-md-12">
            <textarea name="desc" class="form-control" rows="13"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <button type="button" class="btn btn-outline-primary">Save</button>
            <button type="button" class="btn btn-outline-primary" (click)="treeViewService.saveSpecsClose()">Cancel</button>
          </div>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Glossary">
      <div class="tab-container">
        <div class="form-group row">
          <div class="col-md-4"><label class="mt-6">Enter Acronym</label></div>
          <div class="col-md-6">
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4"><label class="mt-6">Enter Full Form</label></div>
          <div class="col-md-6">
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p-table [value]="products" styleClass="p-datatable-gridlines head-style-2" responsiveLayout="scroll">

              <ng-template pTemplate="header">
                <tr>
                  <th>Keyword</th>
                  <th>Full Form</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr>
                  <td>{{product.keyword}}</td>
                  <td>{{product.full_form}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12 text-center">
            <button type="button" class="btn btn-outline-primary">Save</button>
            <button type="button" class="btn btn-outline-primary" (click)="treeViewService.saveSpecsClose()">Cancel</button>
          </div>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Attachment">
      <div class="tab-container">
        <div class="form-group row">
          <div class="col-md-5"><label class="mt-6">Select file to upload</label></div>
          <div class="col-md-6">
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p-table [value]="products" styleClass="p-datatable-gridlines head-style-2" responsiveLayout="scroll">

              <ng-template pTemplate="header">
                <tr>
                  <th>Filename</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr>
                  <td>{{product.keyword}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12 text-center">
            <button type="button" class="btn btn-outline-primary">Save</button>
            <button type="button" class="btn btn-outline-primary" (click)="treeViewService.saveSpecsClose()">Cancel</button>
          </div>
        </div>
      </div>
    </p-tabPanel>

  </p-tabView>
</div>
