@import "../../../assets/styles/functions";
@import "../../../assets/styles/variables";


.saved-specs{
  position: absolute;
  width: 500px;
  background: #fff;
  top: 50px;
  right: 110px;
  border: 1px #d7d7d7 solid;
  border-radius: 6px;
  overflow-y: scroll;
  padding: 10px;
  height: 89%;
  box-shadow: 0 0 5px #c6c5cc;
  .tab-container{
    padding: 1.5rem;
    .form-group {
      margin-bottom: 8px;
    }
    label{
      font-size: 16px;
    }

    label.mt-6{
      margin-top: 6px;
    }
    .btn{
      margin: 0 2px;
      width: 110px;
      text-transform: uppercase;
    }
  }
}
