@import "../../assets/styles/functions";
@import "../../assets/styles/variables";

.login{
  padding: 105px 30px 30px 30px;
  height: 485px;
  width: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: url("../../assets/images/pearlsLogo.png") no-repeat center 25px #fff;
  border-radius: 10px;
  box-shadow: 0 3px 20px 0px rgb(0 0 0 / 18%);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgb(0 0 0 / 18%);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);


h2{
    margin-bottom: 20px;
  }
  .btn{
    padding: 5px 30px;
    color: #fff;
    background-color: $primary;
    border-color: $primary;
    margin: 10px 0 30px;
  }
  .signup{
    text-align: center;
    margin-bottom: 10px;
  }
}

