<span class="auto_fill_case">
  <span class="row">
    <span class="col-md-7">
      <span class="light-gray">
        <span class="head">
          <i class="icon-cancel" (click)="treeViewService.closeAutoFill()"></i>
          <span class="row">
            <span class="col-md-5">
              <input type="text" class="form-control" placeholder="Search">
            </span>
            <span class="col-md-7">
              <button type="button" class="btn btn-link"><i class="icon-add-user"></i> Add use case</button>
              <button type="button" class="btn btn-link"><i class="icon-arrows-ccw"></i></button>
            </span>
          </span>
        </span>
        <span class="box">
          <ul>
            <li>
              <a href="javascript:"><i class="icon-user"></i> This is a requirement</a>
              <i class="icon-close-circled"></i>
              <i class="icon-android-more-horizontal"></i>
            </li>
            <li>
              <a href="javascript:"><i class="icon-list"></i> This is a use case</a>
              <i class="icon-close-circled"></i>
              <i class="icon-android-more-horizontal"></i>
            </li>
            <li>
              <a href="javascript:"><i class="icon-user"></i> This is a requirement</a>
              <i class="icon-close-circled"></i>
              <i class="icon-android-more-horizontal"></i>
            </li>
            <li>
              <a href="javascript:"><i class="icon-list"></i> This is a use case</a>
              <i class="icon-close-circled"></i>
              <i class="icon-android-more-horizontal"></i>
            </li>
            <li>
              <a href="javascript:"><i class="icon-user"></i> This is a requirement</a>
              <i class="icon-close-circled"></i>
              <i class="icon-android-more-horizontal"></i>
            </li>
            <li>
              <a href="javascript:"><i class="icon-list"></i> This is a use case</a>
              <i class="icon-close-circled"></i>
              <i class="icon-android-more-horizontal"></i>
            </li>
            <li>
              <a href="javascript:"><i class="icon-user"></i> This is a requirement</a>
              <i class="icon-close-circled"></i>
              <i class="icon-android-more-horizontal"></i>
            </li>
            <li>
              <a href="javascript:"><i class="icon-list"></i> This is a use case</a>
              <i class="icon-close-circled"></i>
              <i class="icon-android-more-horizontal"></i>
            </li>
          </ul>
        </span>
      </span>
    </span>
    <span class="col-md-5">
      <span class="white_case">
        <i class="icon-cancel" (click)="treeViewService.closeAutoFill()"></i>
        <p>
        Lorem ipsum dolor sit amet,
        consectetur adipisicing elit, sed
        do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.
      </p>
      <p>
        <b>Duis aute irure dolor in</b>
        <b>Duis aute irure dolor in</b>
      </p>
      </span>
    </span>
  </span>
</span>
