<div class="container-fluid padding-t-b-20">
  <div class="row">
    <div class="col-md-9">
      <p-tabView class="tree-tab-view">
        <p-tabPanel header="Untitled Document">
          <p-tree [value]="treeDate">
            <ng-template let-node  pTemplate="default">
              <span class="me-auto">{{node.label}}</span>
              <a href="javascript:">{{node.id}}</a>
              <a href="javascript:" *ngIf="node.id" class="icon-flag-o"></a>
              <a href="javascript:" *ngIf="node.id" class="icon-chat"></a>
            </ng-template>
          </p-tree>
        </p-tabPanel>
        <p-tabPanel header="Untitled Document 2">
          Content 2
        </p-tabPanel>
        <p-tabPanel header="Untitled Document 3">
          Content 3
        </p-tabPanel>
      </p-tabView>
    </div>
    <div class="col-md-3">
      <div class="card-list">
        <div class="card">
          <div class="card-header">Specs</div>
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card
              title and make up the bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">Version</div>
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card
              title and make up the bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">Comments</div>
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card
              title and make up the bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">Version</div>
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card
              title and make up the bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">Comments</div>
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card
              title and make up the bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
