.card-list{
  height: 72.2vh;
  overflow: scroll;
  .card{
    border-radius: 0 !important;
    border-bottom: 0 !important;
    .card-body{
      min-height: 150px;
    }
    .card-header{
      background: #fff;
    }
  }
}
.add-on-head{
  position: absolute;
  right: 15px;
  top: 7px;
  z-index: 99;
  padding: 0.2rem 0.5rem;
  font-size: 12px;
}
