.head{
  background: #fff;
  width: 100%;
  display: inline-block;
  padding: 12px 15px;
  position: relative;
  border-bottom: 1px #e4e7f2 solid;
  font-size: 18px;
}
.farm-container{
  background: white;
  margin: 20px auto;
  padding: 25px 40px;
  border: 1px #e4e7f2 solid;
  border-radius: 4px;
}
.btn-primary{
  width: 120px;
}
