.shadow-card {
    .p-card {
        border-radius: 0.5em;
        box-shadow: 0 0 0.5em rgba(0,0,0,0.2);
    }
    .p-card-content {
        flex-flow: column;
    }
    .p-card-body {
        padding: 0;

    }
}