body{
  background: #f0edf4 !important;
  padding: 0;
}
.p-component, h2, h3, p{
  font-family: $font-family-sans-serif !important;
}
h2{
  font-size: 22px;
}
h3{
  font-size: 18px !important;
  margin-bottom: 20px !important;
}
p{
  font-size: 14px;
}
.padding-t-b-20{
  padding-top: 20px;
  padding-bottom: 20px;
}
mb-0{
  margin-bottom: 0 !important;
}
.text-container{
  padding: 0 20px 20px 20px;
}
.p-element{
  &:focus{
    box-shadow: none !important;
  }
}
.container-fluid{
  &.space{
    position: relative;
  }
}
.custom-table {
  .p-paginator {
      justify-content: right;
  }
}

.p-button {
  min-width: unset !important;
}

.p-error-svg{
  position: absolute !important;
  right: 0;
  top: 8px;
  z-index: 5;
  &:focus{
    box-shadow: none !important;
  }
  .error-svg{
    background: url("../svg-icons/error.svg");
    width: 25px;
    height: 25px;
    background-size: contain;
    filter: invert(59%) sepia(63%) saturate(2591%) hue-rotate(200deg) brightness(98%) contrast(94%);
    .p-button-label{
      color: $secondary !important;
    }
  }
}
.add-msg{
  background: url("../svg-icons/chat.svg");
  width: 25px;
  height: 25px;
  background-size: contain;
  color: $secondary;
}
.delete-msg{
  background: url("../svg-icons/delete-msg.svg");
  width: 25px;
  height: 25px;
  background-size: contain;
  top: 3px;
  position: relative;
  color: $secondary;
}


.p-button {
  background: $secondary;
  border: 1px solid $secondary;
  &.p-button-text {
      text-decoration: underline;
      color: $secondary;
      display: inline-block;
      &:enabled:hover {
          color: $secondary;
          text-decoration: none;
      }
  }
  .p-button-outlined {
      color: $secondary;
  }
}


.p-card{
  margin: 20px 0;
  border-radius: 5px !important;
  .p-card-content{
    display: flex;
    padding: 0 !important;
    span{
      flex: auto;
      &:last-child{
        text-align: right;
      }
    }

  }


}
.btn-sm{
  padding: 0.25rem 0 0 0 !important;
  font-size: 0.775rem !important;
  margin-right: 8px;
}
.align-right{
  text-align: right;
  display: block;
}
.btn-link{
  text-decoration: none !important;
  color: $secondary !important;
  i{
    position: relative;
    top:2px;
  }
}
td{
  .btn-link{
    font-size: 14px;
    padding: 0 5px;
  }
}



.p-splitter{
  padding: 0;
  background: transparent !important;
}
.p-splitter-panel-nested{
  display: block !important;
}
.p-splitter-horizontal>.p-splitter-gutter {
  width: 8px !important;
  background: #f2f1f3;
  border: 1px #e1e1e1 solid;
}

.saved-specs{
  .p-tabview-nav{
    border-width: 0 !important;
    li{
      margin: 0 7.3px 0 0 !important;
      a{
        background: $gray-200 !important;
        color: #5e5e5e !important;
        text-transform: uppercase;
        font-size: 14px;
        border-radius: 5px 5px 0 0 !important;
        border-width: 0 !important;
        &:hover{
          background: $secondary !important;
          color: $white !important;
        }
      }
      &.p-highlight{
        a{
          background: $secondary !important;
          color: $white !important;
        }
      }
      &.p-tabview-ink-bar{
        display: none !important;
      }
    }
  }
  .p-tabview-panels{
    min-height: 435px;
    border: 1px $secondary solid !important;
    padding: 0.75rem !important;
  }
}

.p-listbox .p-listbox-list .p-listbox-item {
  padding: 0.3rem 0.75rem !important;
}

.p-dialog-mask.p-component-overlay {
  background-color: rgba(36, 34, 34, 0.21) !important;
}
.p-dialog {
  box-shadow: none !important;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .fluid-p-0{
    padding: 0 !important;
  }
  .inner-wrapper{
    margin: 20px 0 0 0;
  }
  .form-wrapper{
    padding:0 10px 10px 10px;
  }
  .mobile-splitter{
    display: block;
  }
  .web-splitter, .p-error-svg{
    display: none !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .fluid-p-0{
    padding: 0 !important;
  }
  .inner-wrapper{
    margin: 20px 0 0 0;
  }
  .form-wrapper{
    padding:0 10px 10px 10px;
  }
  .mobile-splitter{
    display: block;
  }
  .web-splitter, .p-error-svg{
    display: none !important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 767px) and (max-width: 992px){
  .fluid-p-0{
    padding: 0 !important;
  }
  .inner-wrapper{
    margin: 20px 0 0 0;
  }
  .form-wrapper{
    padding:0 10px 10px 10px;
  }
  .mobile-splitter{
    display: block;
  }
  .web-splitter{
    display: none;
  }
}


@media (min-width: 992px) and (max-width: 1199px){
  .container-fluid{
    &.space{
      padding: 0;
    }
  }
  .pd-t-76{
    padding-top: 76px;
  }
  .inner-wrapper{
    margin: 20px 0 0 0;
  }
  .form-wrapper{
    padding:0 0 10px 0;
  }
  .mobile-splitter{
    display: none;
  }
  .web-splitter{
    display: block;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container-fluid{
    &.space{
      padding: 0;
    }
  }
  .pd-t-76{
    padding-top: 76px;
  }
  .inner-wrapper{
    margin: 20px 0 0 0;
  }
  .form-wrapper{
    padding:0 0 10px 0;
  }
  .mobile-splitter{
    display: none;
  }
  .web-splitter{
    display: block;
  }
}
