.p-datatable{
  margin-bottom: 15px;
  &.head-style-2{
    .p-datatable-thead > tr{
      background: linear-gradient(180deg, rgba(252,252,252,1) 0%, rgba(238,238,238,1) 100%) !important;
      th{
        background: transparent !important;
        color: $primary !important;
        font-weight: 600 !important;
        border-color: #e4e4e4 !important;
      }
    }
  }
  .p-datatable-thead > tr > th{
    background: #342f57 !important;
    color: #fff !important;
    border: 1px solid #342f57 !important;
    font-weight: 400 !important;
    font-size: 14px;
    white-space:nowrap;
  }
  &.free-style{
    margin-bottom: 0;
    .p-datatable-thead > tr{
      background: transparent !important;
      th{
        background: transparent !important;
        font-weight: 600 !important;
        border: 0 !important;
        padding: 4px 12px;
        color: #5e5e5e !important;
      }
      &:last-child{
        text-align: right;
      }
    }
    .p-datatable-tbody > tr{
      td {
        font-size: 14px !important;
        padding: 4px 12px;
        background: #f4f8f9;
        border-bottom: 3px solid #fff;
        color: #9997aa;
        cursor: pointer;
      }
      &:hover{
        td{
          background: #e3ebee;
        }
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}

.p-datatable-striped{
  .p-datatable-tbody {
    tr {
      &:nth-child(even) {
        background: #f7f6f9 !important;
      }
      td{
        font-weight: 400 !important;
        font-size: 14px;
      }
    }
  }
}
