.main-menu{

  .p-menubar{
    background-color: #342f57 !important;
    border: none !important;
    border-radius: 0 !important;
    .p-menubar-start{
      margin-right: 20px;
    }
    .p-menuitem-link{
      position: relative;
      padding: 0.75rem 0.40rem !important;
      .p-menuitem-icon{
        margin: 0 !important;
        color: #9997aa !important;
        &.r-divider{
          margin-right: 20px !important;
          &:after{
            content: '';
            height: 25px;
            width: 1px;
            background: #524e70;
            position: absolute;
            right: 0;
            top: 7px;
          }
        }
        &.l-divider{
          margin-left: 20px !important;
        }
      }
      &:hover{
        background: transparent !important;
        .p-menuitem-icon{
          color: #fff !important;
        }
      }
    }

  }
  .p-menubar-end{
    display: flex !important;
    .p-tabmenu{
      .p-tabmenu-nav{
        background: transparent !important;
        .p-menuitem-link{
          background: transparent !important;
          padding: 0.75rem 0.4rem !important;
        }
      }
    }
    a.project_name{
      color: #6d8eed !important;
      font-size: 14px;
      font-weight: 400 !important;
      width: 20rem;
      text-align: center;
      margin: 12px 6rem;
    }
    .p-inputgroup{
      display: flex !important;
      .pi-search{
        color: #9997aa;
        z-index: 2;
      }
      .p-inputtext{
        background: #2e2c4c !important;
        border: 0!important;
        border-radius: 20px 0 0 20px;
        color: #9997aa;
        font-weight: 200;
        font-size: 14px;
        &:focus{
          box-shadow: none !important;
        }
      }
      .p-button{
        background: #2e2c4c !important;
        border: 0!important;
        border-radius: 0 20px 20px 0;
        color: #6d8eed !important;
        .p-button-icon{
          font-size: 1.4rem;
        }
      }
    }
  }


  .p-tabmenu{
    .p-tabmenu-nav {
      border: 0 !important;
      position: relative;
      .p-highlight{
        .p-menuitem-link{
          background: rgba(63, 81, 181, 0.04) !important;
        }
      }
      .p-menuitem-link{
        flex-direction: column;
        border: 0 !important;
        padding: .7rem !important;

        .p-menuitem-text {
          line-height: 1;
          font-size: 14px;
          font-weight: 400;
        }
        .p-menuitem-svg{
          width: 20px;
          height: 20px;
          background-size: contain !important;
          margin: 0 0 15px 0 !important;
        }
        .svg-home{
          background: url("../svg-icons/house.svg");
        }
        .svg-file{
          background: url("../svg-icons/folder.svg");
        }
        .svg-selected{
          background: url("../svg-icons/checkbox.svg");
        }
        .svg-reviews{
          background: url("../svg-icons/tasks.svg");
        }
        .svg-adduser{
          background: url("../svg-icons/add.svg");
        }
        .svg-delete{
          background: url("../svg-icons/delete.svg");
        }
      }
      .p-tabmenu-ink-bar {
        display: block !important;
        height: 2px;
        background: #6f91f2;
        position: absolute;
        bottom: 0;
        transition: transform 5s;
      }
    }
  }

  .p-tabview-panels{
    padding: 0 !important;
    box-shadow: 0 4px 35px #c6c5cc;
  }
  .p-tabview-nav-content{
    background-color: #342f57 !important;
    border-top: 1px #544e80 solid;
    .p-tabview-nav {
      background: transparent !important;
      margin-top: 5px;
      border: 0 !important;
      .p-highlight{
        .p-tabview-nav-link{
          background: #fff !important;
          border-radius: 5px 5px 0 0 !important;
          color: #342f57 !important;
        }
      }
      .p-tabview-nav-link{
        background-color: #342f57 !important;
        border-bottom: 0 !important;
        font-size: 14px;
        font-weight: 600 !important;
        color: #fff !important;
        padding: 0.75rem 2.5rem !important;
      }
      //.p-tabview-ink-bar{
      //  display: none !important;
      //}
    }
  }
}

