.tab-view{
  .p-tabview-nav {
    background: transparent !important;
    margin-top: 10px;
    border: none !important;
    li{
      .p-tabview-nav-link{
        border-radius: 5px 5px 0 0 !important;
        outline: none !important;
        border: none !important;
        font-weight: 400;
        &:hover{
          background: $secondary !important;
          color: $white !important;
        }
      }
    }
    .p-tabview-ink-bar{
      display: none !important;
    }
    .p-highlight{
      .p-tabview-nav-link{
        background: $primary !important;
        color: $white !important;
        border-radius: 5px 5px 0 0 !important;
        outline: none !important;
        border: none !important;
        &:focus{
          box-shadow: none !important;
        }
      }
    }
  }
  .p-tabview-panels{
    padding: 0 !important;
  }
}

.noback-grid {
  .p-tabview-panels {
    background: transparent !important;
  }
}

.tabview-dashboard{
  .p-tabview-panels{
    border-radius: 5px;
  }
  .p-tabview-nav {
    background: transparent !important;
    margin-bottom: 10px;
    border: none !important;
    li{
      .p-tabview-nav-link{
        border-radius: 5px !important;
        outline: none !important;
        border: none !important;
        font-weight: 400;
        padding: 8px 14.3px !important;
        white-space: nowrap;
        font-size: 14px !important;
        margin-right: 6px !important;
        &:hover{
          background: $info !important;
          color: $white !important;
        }
      }
      #p-tabpanel-3-label{
        margin-right: 0 !important;
      }
    }


    .p-tabview-ink-bar{
      display: none !important;
    }
    .p-highlight{
      .p-tabview-nav-link{
        background: $info !important;
        color: $white !important;
        border-radius: 5px !important;
        outline: none !important;
        border: none !important;
        position: relative;
        overflow: visible;
        &:focus{
          box-shadow: none !important;
        }
        &:before{
          font-family: "primeng" !important;
          font-style: normal !important;
          font-weight: normal !important;
          font-variant: normal !important;
          text-transform: none !important;
          speak: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: "\7a";
          position: absolute;
          bottom: -8px;
          left: 44%;
          color: $info;
        }
      }
    }
  }
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////Media Query For Responsive//////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 767px) and (max-width: 992px){

}


@media (min-width: 992px) and (max-width: 1199px){
  .tab-view{
    &.vh100{
      .p-tabview-panels{
        height: 100vh;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .tab-view{
    &.vh100{
      .p-tabview-panels{
        height: 100vh;
      }
    }
  }
}
