<nav class="navbar navbar-expand-lg navbar-light">

  <a class="navbar-brand" href="#">
    <img src="assets/images/pearlsLogo.png" height="40">
  </a>

  <app-menu-search-form class="mobile mobile-search"></app-menu-search-form>

  <button class="navbar-toggler" type="button" (click)="clickEvent()">
    <span class="pi pi-fw pi-bars"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="menu ? 'show' : ''">

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-compass"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-chart-bar"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-user"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-calendar"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-folder-open"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-file"></i></a>
      </li>
      <li class="nav-item r-divider">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-globe"></i></a>
      </li>
      <li class="nav-item l-divider">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-comments"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-file-o"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-book"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-file-pdf"></i></a>
      </li>
<!--      -&#45;&#45;-->
      <li class="nav-item mobile">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-refresh"></i></a>
      </li>
      <li class="nav-item mobile">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-comment"></i></a>
      </li>
      <li class="nav-item mobile">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-user-plus"></i></a>
      </li>

    </ul>

    <app-menu-search-form class="web search-form"></app-menu-search-form>

    <a href="javascript:" class="project_name m-auto">Current Project Name</a>

    <ul class="navbar-nav web">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-refresh"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-comment"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-user-plus"></i></a>
      </li>
    </ul>
  </div>

</nav>

<p-tabView class="tab-view-mobile menu-tab-view" [ngClass]="menu ? 'show' : ''">

  <p-tabPanel header="Home">
    <p-tabMenu [model]="itemsTabs"></p-tabMenu>
  </p-tabPanel>

  <p-tabPanel header="Tools">
    <nav class="nav">
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="review-home"><i class="icon-add-2"></i><span>Mark as Favorite</span></a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" ><i class="icon-calendar-1"></i><span>Mark as Baseline</span></a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="review-selected"><i class="icon-file"></i><span>Object Properties</span></a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" ><i class="icon-import"></i><span>Import</span></a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" ><i class="icon-before-after"></i><span>Compare Specs</span></a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" ><i class="icon-driver-license"></i><span>View Object ID</span></a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" ><i class="icon-report"></i><span>View History</span></a>
      </li>
    </nav>
  </p-tabPanel>

  <p-tabPanel header="Reviews" [selected]="true">
    <nav class="nav">
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="review-home"><i class="icon-home-1"></i><span>Review Home</span></a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" ><i class="icon-folder-3"></i><span>Review Entire File</span></a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="review-selected"><i class="icon-add-1"></i><span>Review Selected</span></a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" ><i class="icon-files"></i><span>My Reviews</span></a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" ><i class="icon-add-user"></i><span>Add Users</span></a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" ><i class="icon-delete-2"></i><span>Delete Review</span></a>
      </li>
    </nav>
  </p-tabPanel>

  <p-tabPanel header="Help">
    <p-tabMenu [model]="itemsTabs"></p-tabMenu>
  </p-tabPanel>

</p-tabView>
