<nav class="navbar navbar-expand-lg navbar-light">

  <a class="navbar-brand" href="#">
    <img src="assets/images/pearlsLogo.png" height="40">
  </a>

  <app-menu-search-form class="mobile mobile-search"></app-menu-search-form>

  <button class="navbar-toggler" type="button" (click)="clickEvent()">
    <span class="pi pi-fw pi-bars"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="menu ? 'show' : ''">

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-compass"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-chart-bar"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-user"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="tools"><i class="pi pi-fw pi-calendar"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-folder-open"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-file"></i></a>
      </li>
      <li class="nav-item r-divider">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-globe"></i></a>
      </li>
      <li class="nav-item l-divider">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-comments"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-file-o"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-book"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-file-pdf"></i></a>
      </li>
<!--      -&#45;&#45;-->
      <li class="nav-item mobile">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-refresh"></i></a>
      </li>
      <li class="nav-item mobile">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-comment"></i></a>
      </li>
      <li class="nav-item mobile">
        <a class="nav-link" href="#"><i class="pi pi-fw pi-user-plus"></i></a>
      </li>

    </ul>

    <app-menu-search-form class="web search-form"></app-menu-search-form>

    <a href="javascript:" class="project_name m-auto">Current Project Name</a>

    <ul class="navbar-nav web">
      <li class="nav-item">
        <a class="nav-link" href="javascript:"><i class="pi pi-fw pi-refresh"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:"><i class="pi pi-fw pi-comment"></i></a>
      </li>
      <li class="nav-item dropdown" [ngClass]="{'show': userDropdown}" (clickOutside)="onClickedOutside($event)">
        <a class="nav-link" href="javascript:" (click)="userDropdown = !userDropdown">
          <i class="pi pi-fw pi-user-plus"></i>
          <i class="icon-caret-down-two"></i>
        </a>
        <div class="dropdown-menu" [ngClass]="{'show': userDropdown}">
          <a class="dropdown-item" href="javascript:"><i class="icon-user"></i> Profile</a>
          <a class="dropdown-item" href="javascript:"><i class="icon-cog"></i> Setting</a>
          <a class="dropdown-item" href="javascript:"><i class="icon-log-out"></i> Logout</a>

          <a class="dropdown-item" href="javascript:" routerLink="review-home"><i class="icon-cog"></i> Review Home</a>
          <a class="dropdown-item" href="javascript:" routerLink="review-selected"><i class="icon-cog"></i> Review Selected</a>
          <a class="dropdown-item" href="javascript:" routerLink="enterprise-library"><i class="icon-cog"></i> Enterprise Library</a>
          <a class="dropdown-item" href="javascript:" routerLink="file-management"><i class="icon-cog"></i> File Management</a>
          <a class="dropdown-item" href="javascript:" routerLink="user-roles"><i class="icon-cog"></i> User Roles</a>
          <a class="dropdown-item" href="javascript:" routerLink="user-details"><i class="icon-cog"></i> User Details</a>
<!--          <a class="dropdown-item" href="javascript:" routerLink="tools"><i class="icon-cog"></i> Editor</a>-->
        </div>
      </li>
    </ul>
  </div>

</nav>




